
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<form method="post" asp-action="Login" asp-controller="Login">
	<div class="form-group">
		<label>Enter Phone Number</label>
		<input name="pNumber" type="text" class="form-control" />
	
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	</form>

